 Id_aspirante  {
    display: block;
  }
  
  Resultados {
    background-color: lightgrey;
    font-family: sans-serif;
  }
  
  Id_aspirante {
    background-color: lightgreen;
    border: black 2px solid;
    margin: 10px;
  }
  
  Resultados {
    background-color: white;
    border-bottom: black 2px solid;
    font-weight: bold;
    padding-left: 2px;
  }


  Id_aspirante, Nombres, Apellidos, DNI, Telefono, Direccion, Fecha_nacimiento, Dan, Cinturon, Fecha_Ingreso_Dan, FotoAspirante, Tiempo_Dan_Anterior, FotoDNI, FotoCarnetGrados {
    display: block;
  }

  Aspirantes {
    background-color: lightgrey;
    font-family: sans-serif;
  }

  Nombres, Apellidos, DNI, Telefono, Direccion, Fecha_nacimiento, Dan, Cinturon, Fecha_Ingreso_Dan, FotoAspirante, Tiempo_Dan_Anterior, FotoDNI, FotoCarnetGrados {
    background-color: lightgreen;
    border: black 2px solid;
    margin: 10px;
}

Indumentaria, AseoPersonal, EjecucionTecnica, Valores, Respuestas{
    display: block;
  }

  CriterioValoraciones {
    background-color: lightgrey;
    font-family: sans-serif;
  }